* {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --skintone-color: #DE9B72;
    --dark-color: #3A3D3E;
}

html,
body {
    width: 100%;
    height: 100%;
    line-height: 1;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

#navBarContainer {
    padding-top: 2%;
}

#navBarContainer ul li a {
    color: white;
    font-weight: 500;
}

/* menu e imagen de fondo */
.navbar-nav{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px !important;
}

.nav-item:hover{
    border-bottom: #fff 1px solid;
}

#background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fondo-boda2.jpeg');
    background-size: cover;
    background-position: center;
    z-index: -2;
}

#background-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.407);
    z-index: -1;
}

#front-menu {
    position: relative;
    z-index: 1;
}

.container-frase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

#frase {
    text-align: center;
    color: white;
    text-align: center;
    font-weight: 500;
}

#firma {
    text-align: center;
    color: white;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: oblique;
}

/* estilos del boton de musica */

.audio-player {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, color 0.3s;
    color: #DE9B72 !important; /* Color pastel para el ícono */
    border-radius: 50%; /* Hacer el ícono circular */
    padding: 10px; /* Espaciado alrededor del ícono */
    background-color: #fce4ec; /* Fondo pastel para el ícono */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.audio-player:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color: #f06292; /* Color pastel más intenso al pasar el ratón */
}

.audio-player:active {
    transform: scale(1);
    color: #d81b60; /* Color pastel al hacer clic */
}

/* estilos del boton volver arriba */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: olive; 
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
}
.scroll-to-top:hover {
    background-color: black; 
}

/* Cuenta regresiva */


.dark-background {
    background: var(--dark-color);
}

#counter-text {
    padding: 10%;
}

.outer-border {
    border: 2px solid var(--skintone-color);
    padding: 6px;
}

.mid-border {
    border: 6px solid var(--skintone-color);
    padding: 6px;
}

.inner-border {
    border: 2px solid var(--skintone-color);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.corner-decoration {
    position: absolute;
    width: 3em;
}

@media (min-width: 300px) {
    .corner-decoration {
        width: 3.5em;
    }

    #counter-text {
        padding: 20%;
    }
}

@media (min-width: 768px) {
    .corner-decoration {
        width: 3.5em;
    }

    #counter-text {
        padding: 20%;
    }
}

@media (min-width: 992px) {
    .corner-decoration {
        width: 4em;
    }

    #counter-text {
        padding: 10%;
    }
}

@media (min-width: 1200px) {
    .corner-decoration {
        width: 5em;
    }

    #counter-text {
        padding: 10%;
    }
}

.corner-decoration.corner-left-top {
    left: 0;
    top: 0;
}

.corner-decoration.corner-right-top {
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
    right: 0;
    bottom: 0;
    transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
    left: 0;
    bottom: 0;
    transform: scaleY(-1);
}

.vertical-decoration {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 11em;
}

@media (min-width: 768px) {
    .vertical-decoration {
        width: 16em;
    }
}

@media (min-width: 992px) {
    .vertical-decoration {
        width: 20em;
    }
}

@media (min-width: 1200px) {
    .vertical-decoration {
        width: 27em;
    }
}

.vertical-decoration.top {
    top: 0;
}

.vertical-decoration.bottom {
    bottom: 0;
    transform: scaleY(-1);
}

#date-time {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-style: oblique;
    font-size: 4rem;
    color: white;
}

.white-text {
    color: #fff;
}

/* estilos fotos de la fiesta */
.fiesta img {
    max-height: 700px;
}

.fiesta {
    background-color: #DFD3C3;
}

/* estilos de la localizacion en el mapa */
.location-map {
    background-color: #DFD3C3;
}

.location-map .row .col-12 {
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, .25);
    transition: all .4s ease;
    -webkit-border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    -moz-border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    -ms-border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    -o-border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
}

.location-map .row .col-12:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, .35);
}

.btn-info {
    background-color: olive !important;
    border: 1px solid green !important;
    padding: 10px 20px 10px 20px !important;
}

.btn-info a,
i {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-style: oblique;
    color: white !important;
    text-decoration: none !important;
    padding: 2px;
}

.btn-info:hover {
    background-color: black !important;
    border: 1px solid white !important;
}

.confirm {
    padding: 2rem 1rem;
    border: 1rem solid #DE9B72;
    border-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #DE9B72 6px, #DE9B72 15px, transparent 16px, transparent 20px) 20/1rem;
}

/* estilos de confirmacion */
.confirm {
    background-color: #8D493A;
    color: white;
}

.btn-success {
    background-color: olive !important;
    border: 1px solid green !important;
    padding: 10px 20px 10px 20px !important;
}

.btn-success a,
i {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-style: oblique;
    color: white !important;
    text-decoration: none !important;
}

.btn-success:hover {
    background-color: black !important;
    border: 1px solid white !important;
}

/* estilos de la hoja de canciones */
#SUGERENCIACANCION{
    background-color: #DFD3C3;
}
#SUGERENCIACANCION a, i{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-style: oblique;
}

#SUGERENCIACANCION {
    background-color: #897552;
    padding: 2rem 1rem;
    border: 1rem solid #B6C7AA;
    border-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #B6C7AA 6px, #B6C7AA 15px, transparent 16px, transparent 20px) 20/1rem;
}

.img-container {
    overflow: hidden;
}
.img-fluid {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.img-container:hover .img-fluid {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

#SUGERENCIACANCION .btn-primary {
    background-color: olive !important;
    border: 1px solid green !important;
    padding: 10px 20px 10px 20px !important;
}

#SUGERENCIACANCION .btn-primary a,
i {
    font-size: 2rem !important;
    color: white !important;
    text-decoration: none !important;
    padding: 2px;
}

#SUGERENCIACANCION .btn-primary:hover {
    background-color: black !important;
    border: 1px solid white !important;
}

/* estilos de la seccion de fotos */
#FOTOS{
    background-color: #DFD3C3;
}

#FOTOS #carouselExampleFade{
    max-height: 600px !important;
}

#FOTOS img{
    max-height: 600px !important;
    max-width: min-content !important;
}

/* estilos de instagram wall */
#INSTAGRAM {
    background-image: url('../img/fotos-instagram.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 5%;
}

/* sobra de fondo */
#INSTAGRAM .col-12 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5%;
}

#INSTAGRAM .btn-primary {
    background-color: olive !important;
    border: 1px solid green !important;
    padding: 10px 20px 10px 20px !important;
}

#INSTAGRAM .btn-primary a{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-style: oblique;
    color: white !important;
}

#INSTAGRAM .btn-primary a,
i {
    font-size: 2rem !important;
    color: white !important;
    text-decoration: none !important;
    padding: 2px;
}

#INSTAGRAM .btn-primary:hover {
    background-color: black !important;
    border: 1px solid white !important;
}

/* estilos del footer */
#footer {
    font-size: 5rem !important;
    background-color: rgba(128, 128, 0, 0.801);
    color: white;
    text-align: center;
    padding: 10px;
}

#footer i {
    transition: font-size 1s ease-out, color 1s ease-out !important;
    -webkit-transition: font-size 1s ease-out, color 1s ease-out !important;
    -moz-transition: font-size 1s ease-out, color 1s ease-out !important;
    -ms-transition: font-size 1s ease-out, color 1s ease-out !important;
    -o-transition: font-size 1s ease-out, color 1s ease-out !important;
}

#footer i:hover {
    color: red !important;
    transition: font-size 0.5s ease-in, color 0.5s ease-in !important;
    -webkit-transition: font-size 0.5s ease-in, color 0.5s ease-in !important;
    -moz-transition: font-size 0.5s ease-in, color 0.5s ease-in !important;
    -ms-transition: font-size 0.5s ease-in, color 0.5s ease-in !important;
    -o-transition: font-size 0.5s ease-in, color 0.5s ease-in !important;
    font-size: 5.5rem !important;
}

.fs-1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: oblique;
}